<%- include('partials/_header.ejs') %>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <%- include('partials/_sidebar.ejs') %>                       
    
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/_navbar.ejs') %>
        



        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Edit Products </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
              </nav>
            </div>

            <!-- Adding Form  -->
            <div class="row align-items-center justify-content-center">
              <%if(successMessage[0]){%>
                <div id="error-message" class="alert alert-info col-8" role="alert">
                    <%=successMessage[0]%>
                </div>
              <%}else if(errorMessage[0]){%>
                <div id="error-message" class="alert alert-danger col-8" role="alert">
                    <%=errorMessage[0]%>
                </div>
              <%}%> 
              <div class="col-8  grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample" method="post" action="/admin/products/editProduct/<%=product._id%>/?_method=PUT" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input type="text" name="name" value=<%=product.name%> required class="form-control" id="exampleInputName1" placeholder="Product name">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description </label>
                        <textarea class="form-control" required  name="description" id="exampleTextarea1" rows="6x"><%=product.description%></textarea>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-4">
                          <label for="exampleInputEmail3">Price</label>
                          <input type="number" value=<%=product.price%> name="price"  required class="form-control" id="exampleInputEmail3" placeholder="Price">
                        </div>
                        <div class="col-md-4">
                          <label for="exampleInputEmail3">Category</label>
                          <select name="category" value=<%=product.category%> class="form-control" required id="exampleInputEmail3">
                            <%categories.forEach((category)=>{%>
                              <option value=<%=category.name%>><%=category.name%></option>
                            <%})%>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label for="exampleInputEmail3">Stock</label>
                          <input type="number" name="stock" value=<%=product.stock%> required class="form-control" id="exampleInputEmail3" placeholder="Stocks available">
                        </div>
                      </div>
                      <div class="edit-products-images col-md-12">
                        <label for="exampleInputEmail3">Products Images</label>
                        <div class="row justify-content-around">
                            <%product.images.forEach((image)=>{%>
                                <div class="edit-product-images">
                                    <img src="/products/<%=image%>">
                                </div>
                            <%})%>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>File upload</label>
                        <input type="file" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="file" accept="image/*" multiple name="images" onchange="previewImages(event);" class="form-control file-upload-info" placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <div class="col-2" height="100px" width="100px">
                        <img id="preview">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">update</button>
                    </form>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    
    <script>
      function hideErrorMessage() {
        var errorMessageElement = document.getElementById('error-message');
        if (errorMessageElement) {
          setTimeout(()=>{
            errorMessageElement.style.display = 'none';
          }, 4000);
          
        }
      }
      hideErrorMessage();


      const previewImages = (event) => {
        const imageFiles = event.target.files;
        const imageFilesLength = imageFiles.length;
        if (imageFilesLength > 0) {
          const imageSrc = URL.createObjectURL(imageFiles[0]);
          const imagePreviewElement = document.querySelector("#preview");
          imagePreviewElement.src = imageSrc;
          imagePreviewElement.style.display = "block";
          imagePreviewElement.style.height = "100%";
          imagePreviewElement.style.width = "100%";
        }
      }
    </script>
    <%- include('partials/_footer.ejs') %>