<%- include('partials/_header.ejs') %>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <%- include('partials/_sidebar.ejs') %>                       
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/_navbar.ejs') %>

        <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title"> Basic Tables </h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                  </ol>
                </nav>
              </div>
              <%if(successMessage[0]){%>
                <div id="error-message" class="alert alert-info col-8" role="alert">
                    <%=successMessage[0]%>
                </div>
              <%}else if(errorMessage[0]){%>
                <div id="error-message" class="alert alert-danger col-8" role="alert">
                    <%=errorMessage[0]%>
                </div>
              <%}%> 
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Basic Table</h4>
                      <button type="button" class="btn btn-secondary btn-fw"><a href="/admin/products/addProducts">Add New Products</a></button>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Image</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Varified</th>
                              <th>Block/unblock</th>
                            </tr>
                          </thead>
                          <tbody>
                            <%users.forEach((user) => { %>
                              <tr>
                                <td><%=user.name%></td>
                                <td><img src='<%=user.profile%>'  alt="<%=user.name%>" srcset="" ></td>
                                <td><%=user.email%></td>
                                <td><%=user.phone%></td>
                                <td><h6><%=user.varified%></h6></td>
                                <%if(!user.blocked){%>
                                  <td>
                                    <form action="/admin/users/<%=user._id%>?_method=PUT" method="post">
                                      <input type="hidden" value='true' name="isBlocked" >
                                      <button class="btn btn-primary" type="submit">Block</button>
                                    </form>
                                  </td>
                                <%}else{%>
                                  <td>
                                    <form action="/admin/users/<%=user._id%>?_method=PUT" method="post">
                                      <input type="hidden" value='false' name="isBlocked">
                                      <button class="btn btn-primary" type="submit">Unblock</button>
                                    </form>
                                  </td>
                                <%}%>
                              </tr>
                            <%})%> 
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>


    <script>
      function hideErrorMessage() {
        var errorMessageElement = document.getElementById('error-message');
        if (errorMessageElement) {
          setTimeout(()=>{
            errorMessageElement.style.display = 'none';
          }, 4000);
          
        }
      }
      hideErrorMessage();


      const previewImages = (event) => {
        const imageFiles = event.target.files;
        const imageFilesLength = imageFiles.length;
        if (imageFilesLength > 0) {
          const imageSrc = URL.createObjectURL(imageFiles[0]);
          const imagePreviewElement = document.querySelector("#preview");
          imagePreviewElement.src = imageSrc;
          imagePreviewElement.style.display = "block";
          imagePreviewElement.style.height = "100%";
          imagePreviewElement.style.width = "100%";
        }
      }

     const toggleValue = ()=>{
      let toggleBtn = document.getElementById('togglebtn').value;
      
     }
    </script>
<%- include('partials/_footer.ejs') %>