<%- include('../partials/_header.ejs') %>
<body>
  <div class="container-scroller">
    <%- include('../partials/_sidebar.ejs') %>                       
      <div class="container-fluid page-body-wrapper">
        <%- include('../partials/_navbar.ejs') %>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Basic Tables </h3>
                    </div>
                    <div class="container">
                        <a href="/admin/coupons/addCoupon">
                            <button type="button" class="btn btn-primary">Add Offers<i class="bi bi-tag"></i></button>
                        </a>
                        <% if(!offers.length){%>
                            <h3 class="text-center">No Offers Available</h3>
                        <% }else{ %>
                            <% offers.forEach((offer)=>{ %>
                                <div class="row mt-3 mb-3 p-3 rounded" style="background-color:#191c24">
                                    <div class="col-md-3 text-center d-flex align-items-center justify-content-center">
                                        <span class="text-center">Offer Name : <%= offer.title%></span>                                    
                                    </div>
                                    <div class="col-md-3 text-center flex-column d-flex align-items-center justify-content-center">
                                        <span>Offer Type : <%= offer.type%> </span>
                                        <span>Discount Percentage : <%= offer.discountPercentage%>%<br></span>
                                    </div>
                                    <div class="col-md-4 text-center d-flex align-items-center justify-content-center">
                                        <span>Starting : <%=offer.startDate.toDateString()%></span>
                                        <span>Expiry : <%=offer.endDate.toDateString()%></span>
                                    </div>
                                    <div class="col-md-2 text-center d-flex align-items-center justify-content-around">
                                        <span><a href="/admin/offers/editOffer/<%=offer._id%>"><i class="bi bi-pencil"></i></a></span>
                                        <form action="/admin/coupons/deleteoffer/<%=offer._id%>?_method=DELETE" method="post">
                                            <button class="delete_button_coupon" type="submit" ><i class="bi bi-trash3"></i></button>
                                        </form>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
      </div>
  </div>
        

    <%- include('../partials/_footer.ejs') %>