<%- include('../partials/_header.ejs') %>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <%- include('../partials/_sidebar.ejs') %>                       
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <%- include('../partials/_navbar.ejs') %>
        <section>
          <div class="container py-5 mt-5">
            <span  class="mb-3"><a href="/admin/orders"><i class="bi bi-arrow-left"></i> Go to Orders</a></span><br><br>
            <a href="/admin/order/getInvoice/<%=orders[0].orderId%>"><button class="btn btn-primary">Get invoice</button></a>
          <% orders.forEach((order) => {%>

            <div class="row justify-content-center mb-3">
              <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                          <img src="/products/<%=order.products.product[0].images[0]%>" 
                            class="w-100" />
                          <a href="#!">
                            <div class="hover-overlay">
                              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                            </div>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-6 col-xl-6">
                        <h5><%=order.products.product[0].name%></h5>
                        
                        <p class="text-truncate mb-4 mb-md-0">
                          <%= order.products.product[0].description %>
                        </p>
                        <p class=" mb-4 mb-md-0">
                          <b><%=order.deliveryAddress[0].name %><br></b>
                          <%=order.deliveryAddress[0].city %>, <%=order.deliveryAddress[0].locality %><br>
                          <%=order.deliveryAddress[0].landMark %><br>
                          <%=order.deliveryAddress[0].pincode %>
                        </p>
                        <p class=" mb-4 mb-md-0">
                          <b>Phone Number : <%=order.deliveryAddress[0].phone %>, <%=order.deliveryAddress[0].alternativePhoneNumber %></b><br>
                          <b>Order Date :</b><%=order.orderDate.toDateString() %> 
                        </p>
                      </div>
                      <div class="vr"></div>
                      <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                        <p class=" mb-2 ">
                          <b>Qunatity : </b>
                          <%=order.products.quantity%><br>
                        </p>
                        <p>Status : <span class="mt-4 <%=order.status%>"><%=order.status%></span></p>
                        <div class="d-flex flex-row align-items-center mb-1">
                          <h4 class="mb-1 me-1">₹<%=order.products.product[0].price%></h4>
                        </div>
                        
                        <div class="d-flex flex-column mb-2">
                          <a href="/shop/<%=order.products.product[0].slug%>" class="w-100">
                            <button class="btn btn-dark w-100"  type="button">Details</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% }) %>


          </div>
        </section>
        

      </div>   
  </div>
<%- include('../partials/_footer.ejs') %>