<%- include('../partials/_header.ejs') %>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <%- include('../partials/_sidebar.ejs') %>                       
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <%- include('../partials/_navbar.ejs') %>

        <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title"> Basic Tables </h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                  </ol>
                </nav>
              </div>
              <%if(successMessage[0]){%>
                <div id="error-message" class="alert alert-info col-8" role="alert">
                    <%=successMessage[0]%>
                </div>
              <%}else if(errorMessage[0]){%>
                <div id="error-message" class="alert alert-danger col-8" role="alert">
                    <%=errorMessage[0]%>
                </div>
              <%}%> 
              <% orders.forEach((order) => {%>
                <div class="row mb-2 rounded p-2" style="background: #191c24;">
                    <div class="col-md-3 p-2">
                      <p class="text-center fs-6"><small>#<%=order.orderId%></small></p>
                      <h4 class="text-center">₹<%=order.totalPrice%></h4>
      
                    </div>
                    <div class="col-md-4 p-2 d-flex align-items-center">
                      <ul class="product_list">
                        <%order.products.product.forEach((product) => {%>
                              <li>- <%=product.name%></li>
                          <% }) %>
                      </ul>
                    </div>
                    <div class="col-md-4 p-2">
                      <div class="row">
                        <div class="col-5">
                          <p><%=order.orderDate.toDateString() %></p>
                          <p>Payment :<%=order.paymentMethod %></p>
                          <span class="<%=order.status %>"><%=order.status %></span>
                        </div>
                        <div class="col-7 d-flex align-items-center w-100">
                          <% if(order.status != 'Delivered'&& order.status != 'Cancel') {%>
                            <%if(order.status != 'Cancel'){%>
                              <form id="<%=order.orderId%>" action="/admin/orders?_method=PATCH" class="d-flex align-items-center justify-content-between" method="POST">
                                  <!-- id="order_status" -->
                                <select onchange="statusChange('<%=order.orderId.toString()%>')" name="status" class="status_order <%=order.status%>" >
                                      <%for (const option of ['Pending', 'Processing','Shipped', 'Delivered']){%>
                                        <option value="<%=option%>" <% if(option == order.status) {%> selected <%} %>>
                                          <%=option%> 
                                        </option>
                                      <% } %>
                                  </select>
                                  <input type="hidden" name="orderId" value="<%=order._id%>">
                                  
                              </form>
                            <%}else{%>
                               <p class="Cancel">Order Cancelled</p>
                            <%}%>
                          <%}%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                      <a href="/admin/orders/<%=order.orderId%>"><i class="bi bi-chevron-double-right"></i></a>
                    </div>
                </div>
              <% }) %>



            </div>
        </div>
    </div>




    <script>
      function statusChange(id) {
        document.getElementById(id).submit();
      }
    </script>

    <%- include('../partials/_footer.ejs') %>