<%- include('./partials/_header') %>
<body>
    <%- include('./partials/_navbar') %>
    <section class="shopping-cart spad">
        <div class="container">
            <%if(!cart.length){%>
                <div class="d-flex align-items-center justify-content-center">
                    <h3>Your cart is Empty</h3>
                </div>
            <%}else{%>
                
                <div class="row">
                    <div class="col-lg-8">
                        <div class="shopping__cart__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%cart.forEach((item)=>{%>
                                                <tr>
                                                    <td class="product__cart__item">
                                                        <div class="product__cart__item__pic">
                                                            <img src="/products/<%=item.product.images[0]%>" alt="">
                                                        </div>
                                                        <div class="product__cart__item__text">
                                                            <h6><%=item.product.name%></h6>
                                                            <h5>₹ <%=item.product.price%></h5>
                                                        </div>
                                                    </td>
                                                    <td class="quantity__item">
                                                        <form action="/cart/<%=item.product._id%>?_method=PATCH" method="post">
                                                            <div class="quantity">
                                                                <input type="number" name="quantity" class="quantity_input" value="<%=item.quantity%>">
                                                                <button type="submit" class="quantity_changer">Update</button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                    <td class="cart__price">₹<%=item.totalAmount%></td>
                                                    <td class="cart__close">
                                                        <form action="/cart?_method=DELETE" method="post">
                                                            <input type="hidden" name="id" value="<%=item._id%>">
                                                            <button type="submit" class="remove_cart"><i class="fa fa-close"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                        <%})%>
                                    </tbody>
                                </table>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="continue__btn">
                                    <a href="/shop">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart__discount">
                            <h6>Discount codes</h6>
                            <form action="#">
                                <input type="text" placeholder="Coupon code">
                                <button type="submit">Apply</button>
                            </form>
                        </div>
                        <div class="cart__total">
                            <h6>Cart total</h6>
                            <ul>
                                <li>Subtotal <span>₹ <%=totalCartValue%></span></li>
                                <li>Total <span>₹ <%=totalCartValue%></span></li>
                            </ul>
                            <a href="/cart/checkout" class="primary-btn">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </section>

<%- include('./partials/_footer') %>
