<%- include('./partials/_header') %>
<body>
    <%- include('./partials/_navbar') %>
    <section class="shopping-cart spad">
        <div class="container">
            <%if(!cart.length){%>
                <div class="d-flex align-items-center justify-content-center">
                    <h3>Your cart is Empty</h3>
                </div>
            <%}else{%>
                
                <div class="row">
                    <div class="col-lg-8">
                        <div class="shopping__cart__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%cart.forEach((item)=>{%>
                                                <tr>
                                                    <td class="product__cart__item">
                                                        <div class="product__cart__item__pic">
                                                            <img src="/products/<%=item.product.images[0]%>" alt="">
                                                        </div>
                                                        <div class="product__cart__item__text">
                                                            <h6><%=item.product.name%></h6>
                                                            <h5>₹ <%=item.product.price%></h5>
                                                        </div>
                                                        <span id="cart_error" class="text-danger"></span>
                                                    </td>
                                                    <td class="quantity__item">
                                                        <form id="dec">
                                                            <div class="quantity" >
                                                                <input type="hidden" name="productId" value="<%=item.product._id%>">
                                                                <input type="hidden" id="decQuantity_<%=item.product._id%>" name="quantityDecrement" value="<%=item.quantity%>">
                                                                <button type="button" onclick="decrementQunatity(event,{id:'<%=item.product.id%>'})" class="quantity_changer">-</button>
                                                            </div>
                                                        </form>
                                                        <input type="number" id="quantity_display<%=item.product._id%>" name="quantity" class="quantity_input" disabled value="<%=item.quantity%>">
                                                        <form id="inc">
                                                            <input type="hidden" name="productId" value="<%=item.product._id%>">
                                                            <input type="hidden" id="incQuantity_<%=item.product._id%>" name="quantityIncrement"  value="<%=item.quantity%>" >
                                                            <div class="quantity">
                                                                <button type="button" onclick="incrementQuantity(event,{id:'<%=item.product._id%>'})" class="quantity_changer">+</button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                    <td id="productTotalPrice_<%=item.product._id%>" class="cart__price">₹<%=item.totalAmount%></td>
                                                    <td class="cart__close">
                                                        <form action="/cart?_method=DELETE" method="post">
                                                            <input type="hidden" name="id" value="<%=item._id%>">
                                                            <button type="submit" class="remove_cart"><i class="fa fa-close"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                        <%})%>
                                    </tbody>
                                </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="continue__btn">
                                    <a href="/shop">Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart__total">
                            <h6><b>Cart total</b></h6>
                            <ul>
                                <li>Total Amount <span class="cartTotalField" id="cartTotalField">₹ <%=totalCartValue%></span></li>
                            </ul>
                            <a href="/cart/checkout" class="primary-btn">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </section>
    <% if(successMessage[0]) {%>
        <span id="cartMsg" class="alert alert-primary"><%=successMessage[0]%></span>
    <% }else if(errorMessage[0]) {%>
        <span id="cartMsg" class="alert alert-primary"><%=errorMessage[0]%></span>
    <% }%>
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
        window.addEventListener('beforeunload', function() {
                localStorage.setItem('scrollPosition', window.scrollY);
        });

        window.addEventListener('load', function() {
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, parseInt(scrollPosition));
                localStorage.removeItem('scrollPosition');
            }
        });
        
        function incrementQuantity(e,data){
            e.preventDefault();
            data.quantityIncrement= document.getElementById('incQuantity_'+data.id).value
            console.log(data);
            $.ajax({
                type:'PATCH',
                url:`/cart/${data.id}`,
                data,
                success:function(res){
                    if(res.status === 'success'){
                        console.log(res)
                        document.getElementById('quantity_display'+data.id).value = res.data.quantity
                        document.getElementById('productTotalPrice_'+data.id).textContent = res.data.productTotal
                        document.getElementById('cartTotalField').textContent ='₹ '+ res.data.totalCartValue
                        document.getElementById('incQuantity_'+data.id).value = res.data.quantity
                        document.getElementById('decQuantity_'+data.id).value = res.data.quantity
                    }
                    else{
                        console.log(res)
                        document.getElementById('cart_error').innerText = res.data.reason
                        document.getElementById('cart_error').style.display = 'block'
                    }
                    
                }
            })
        }


        function decrementQunatity(e,data){
            e.preventDefault();
            console.log(data);
            data.quantityDecrement= document.getElementById('decQuantity_'+data.id).value
            $.ajax({
                type:'PATCH',
                url:`/cart/${data.id}`,
                data,
                success:function(res){
                    console.log(res)
                    document.getElementById('quantity_display'+data.id).value = res.data.quantity
                    document.getElementById('productTotalPrice_'+data.id).textContent = res.data.productTotal
                    document.getElementById('cartTotalField').textContent = '₹ '+res.data.totalCartValue
                    document.getElementById('decQuantity_'+data.id).value = res.data.quantity
                    document.getElementById('incQuantity_'+data.id).value = res.data.quantity
                }
            })
        }

        setInterval(()=>{
            document.getElementById('cartMsg').style.display = 'none'
        },2000)
</script>

<%- include('./partials/_footer') %>
