<%- include('./partials/_header') %>
<body>
  <%- include('./partials/_navbar') %>
  <section class="checkout spad">
    <div class="container">
      <div class="checkout__form">
        <div class="row">
          <div class="col-lg-7 col-md-6">
            <div class="row justify-content-center align-items-center g-2">
              <%if(!user.defaultAddress){%>
              <div
                class="alert alert-danger w-100 d-flex align-items-center justify-content-between"
                role="alert"
              >
                Please Set a default Address to continue

                <a href="/account/address" class="btn btn-outline-primary"
                  >Set Address</a
                >
              </div>
              <%}else{%>
              <div class="w-100">
                <h4 class="default__address">Delivery Address</h4>
                <div class="card-body">
                  <h5 class="card-title"><b><%=user.defaultAddress.name%></b></h5>
                  <p class="card-text checkout_address">
                    <%=user.defaultAddress.city %>,
                    <%=user.defaultAddress.locality %>,
                    <%=user.defaultAddress.landMark%>
                    <%=user.defaultAddress.pincode %>,
                  </p>
                  <h5 class="card-title"><b>Phone number</b></h5>
                  <p class="card-text checkout_address">
                    <%=user.defaultAddress.phone %>,<br />
                    <%=user.defaultAddress.alternativePhoneNumber %>
                  </p>
                  <a href="/account/address" class="address_change"
                    >Change Address</a
                  >
                </div>
              </div>
              <%}%>
            </div>

            <section style="background-color: #eee">
              <div>
                <%user.cart.forEach((item)=>{ %>
                <div class="row justify-content-center mb-3">
                  <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                            <div
                              class="bg-image hover-zoom ripple rounded ripple-surface"
                            >
                              <img
                                src="/products/<%=item.product.images[0]%>"
                                class="w-100"
                              />
                              
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-6 col-xl-6">
                            <h5><%=item.product.name%></h5>
                            <p class="mb-4 mb-md-0">
                                Quantity: <%=item.quantity%>
                              </p>
                            <p class="text-truncate mb-4 mb-md-0">
                              <%=item.product.description%>
                            </p>
                            <h6 class="text-success">Free shipping</h6>
                          </div>
                          <div
                            class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
                          >
                            <div
                              class="d-flex flex-row align-items-center mb-1"
                            >
                              <h4 class="mb-1 me-1">$<%=item.product.price%></h4>
                            </div>
                            
                            <div class="d-flex flex-column mt-4">
                              <button class="btn btn-primary btn-sm" type="button">
                                <a class="text-white" href="/shop/<%=item.product._id%>">Details</a>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <%})%>
              </div>
            </section>
          </div>
        
          <div class="col-lg-5 col-md-6">
            <div class="coupon_board p-4  mt-1 mb-2 rouded" style="background-color: #f2f3ee;">
              <% if (coupons) {%>
                <% coupons.forEach((coupon)=>{%>
                  <div class="col-md-12 p-0 mb-2">
                    <div class="input-group">
                        <input id="copyText" type="text" class="form-control" value="<%=coupon.code%>">
                        <button id="copyButton" class="btn coupon_code"><i class="bi bi-clipboard"></i></button>
                    </div>
                    <div ><small>Get <% if(coupon.discountType=='fixed'){ %>Flat ₹<%=coupon.discount%> Off On <% }else{%> Flat <%=coupon.discount%>%  off on<% } %>minimum Spend of ₹ <%=coupon.minimumSpend%></small></div>                                      
                </div>
                <%}) %>
              <% } %>
            </div>
            <div class="checkout__order">
              
              <form id="applyCoupon" class="input-group mb-3">
                <input type="text" name="code" class="form-control" id="couponCodeInput" placeholder="Enter coupon code">
                <div class="input-group-append">
                  <button class="btn apply_coupon" type="submit" id="applyCouponButton">
                    Apply Coupon
                  </button>
                </div>
              </form>
              <p id="couponNotifier" style="display: none">coupon Applied <span class="close_coupon" onclick="showCoupon()"><i class="bi bi-x"></i></span></p>
              
              <h4 class="order__title">Your order</h4>
              <div class="checkout__order__products">
                Product <span>Total</span>
              </div>
              <ul class="checkout__total__products">
                <%user.cart.forEach((item,i)=>{%>
                <li>
                  <%=i+1%>. <%=item.product.name%><span
                    >₹<%=item.totalAmount%></span
                  >
                </li>
                <%})%>
              </ul>
              <% if(user.wallet.balance){%>
                <div class="wallet d-flex justify-content-between">
                  Wallet Balance : <b id="walletBalance">₹ <%=user.wallet.balance %></b>
                </div>
                <form id="wallet">
                  <input type="hidden" name="balance" value="<%=user.wallet.balance%>">
                  <input type="hidden" id="totalAmount" name="totalAmount" value="<%=user.totalCartValue%>">
                  <button type="submit" class="Apply_wallet mt-3 mb-3">Apply Wallet</button>
                </form>
              <% } %>
              <ul id="checkoutTotal" class="checkout__total__all">
                <!-- <li>Subtotal <span>₹<%=user.totalCartValue%></span></li> -->
                <li>Total <span id="total">₹<%=user.totalCartValue%></span></li>
              </ul>
            
              <p>
                Your payment and personal information are securely processed
                using industry-standard encryption, ensuring a safe and reliable
                checkout experience.
              </p>

              <!-- <form action="/cart/checkout" method="post"> -->
                <label>Choose Payment Method :</label>
              <form id="checkout">
                <div class="form-check form-check-inline">
                  <p><%if(errorMessage[0]){%><%=errorMessage[0]%><% }else if(successMessage[0]){%><%=successMessage[0]%><%}%></p>
                  <input type="hidden" id="walletUsed" name="walletUsed" value="false" />
                  <input type="hidden" id="payableAmount" name="payableAmount" value="<%=user.totalCartValue%>" />
                  <input type="hidden" id="couponUsed" name="couponUsed">
                  <input type="hidden" id="currentWalletBalance" name="currentWalletBalance" value="<%=user.wallet.balance%>" />
                  
                  <label class="mr-2">
                    <input checked="" class="radio-input" type="radio" name="paymentMethod" value="Online" >
                    <span class="radio-tile">
                      <span class="radio-icon">
                        <i class="bi bi-qr-code-scan" style="font-size:30px;"></i>
                      </span>
                      <span class="radio-label"><small>Pay online</small></span>
                    </span>
                  </label>
                  <label>
                    <input class="radio-input" type="radio" name="paymentMethod" value="COD">
                    <span class="radio-tile">
                      <span class="radio-icon">
                        <i class="bi bi-truck" style="font-size:30px"></i>
                      </span>
                      <span class="radio-label"><small>COD</small></span>
                    </span>
                  </label>
              </div>
                <button id="checkoutBtn" type="submit" class="site-btn">PLACE ORDER</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

  function showCoupon(){
    
    window.location.reload();

  }


  const copyButton = document.getElementById('copyButton');
    copyButton.addEventListener('click', function () {
    const copyText = document.getElementById('copyText');
    copyText.select();
    document.execCommand('copy');
    copyText.setSelectionRange(0, 0);
    copyButton.innerText = 'Copied!';
    setTimeout(() => {
        copyButton.innerHTML = '<i class="bi bi-clipboard"></i>' ;
    }, 1500); 
  });
  $(document).ready(function(){
    var payableAmount = document.getElementById('payableAmount');
    var total = document.getElementById('total')
    
    $('#applyCoupon').submit(function(e){
      e.preventDefault();
      var CouponDataArray = $(this).serializeArray();
      let couponData ={}
      $.each(CouponDataArray,function(index, field) {
      couponData[field.name] = field.value;
    }); 
    couponData.orderTotal = payableAmount.value
    console.log(couponData)
      $.ajax({
        type: "POST",
        url:'/cart/checkout/applyCoupon',
        data:couponData,
        success: function(res){
          console.log(res)
          if(res.status == 'success'){
            console.log('working')
            let discount = parseInt(res.data.discount);
            let amount = parseInt(payableAmount.value)
            console.log(amount)
            payableAmount.value = amount - discount;
            total.textContent = '₹'+(amount - discount);
            let walletTotalAmount = document.getElementById('totalAmount')
            if(walletTotalAmount){
              walletTotalAmount.value = (amount - discount);
            }
            document.getElementById('couponUsed').value = couponData.code
            const element = document.querySelector('.coupenAdded')
            console.log('element:',element)
            if(!element){
              var listItem = document.createElement('li')
              listItem.classList.add('coupenAdded')
              listItem.innerHTML = `Coupon applied<span>- ₹${discount}</span>`;
              document.getElementById('checkoutTotal').appendChild(listItem);
              document.getElementById('couponNotifier').classList.add('text-success')
              // document.getElementById('couponNotifier').textContent = 'Coupon Applied';
              document.getElementById('couponNotifier').style.display = 'block'
            }
            document.getElementById('applyCoupon').style.display = 'none';

          }else{
            document.getElementById('couponNotifier').style.display = 'block'
            document.getElementById('couponNotifier').classList.add('text-danger')
            document.getElementById('couponNotifier').textContent = res.error;
          }
        },
        error:function(err){
          console.log(err);
        }
      })
    })



    $('#wallet').submit(function(e) {
      e.preventDefault();
      var walletData = $(this).serialize();
      $.ajax({
        type:'PUT',
        url:'/cart/checkout',
        data:walletData,
        success: function(res) {
      
          console.log(res.data)
          total.textContent = '₹ '+res.data.totalAmount
          document.getElementById('walletBalance').textContent = '₹ '+res.data.balance
          document.getElementById('walletUsed').value = true;
          payableAmount.value= res.data.totalAmount;
          document.getElementById('currentWalletBalance').value = res.data.balance;
          const element = document.querySelector('.walletAdded')
          console.log(element)
          if(!element){
            var walletItem = document.createElement('li')
            walletItem.classList.add('walletAdded')
            walletItem.innerHTML = `Wallet applied<span>- ₹${res.data.discounted}</span>`;
            document.getElementById('checkoutTotal').appendChild(walletItem);
          }
        },
        error:function(err){
            console.log(err);
        }
      })
    })


    $('#checkout').submit(function(e){
      e.preventDefault();
      var formDataArray = $(this).serializeArray();
      var formData= {};
    $.each(formDataArray,function(index, field) {
      formData[field.name] = field.value;
    });  
      console.log("formData",formData);
      if(formData.paymentMethod=='COD'){
        $.ajax({
          type: 'POST',
          url:'/cart/checkout',
          data:formData,
          success: function(res){
            if(res.status == "success"){
              location.href = '/account/orders'
            }
          },
          
        })
      }else{
        $.ajax({
        type: 'POST',
        url:'/cart/checkout',
        data:formData,
        success:function(order){
          if(order.payment === 'Wallet'){
            return location.href='/account/orders'
          }
          var options = {
            "key": "rzp_test_RooEVCj8UbzuAF", 
            "amount": order.amount,
            "currency": "INR",
            "name": "TrendVerse",
            "description": "The World of Mens Fashion",
            "image": "https://example.com/your_logo",
            "order_id": order.id,   
            "handler": function (response){
                verifyPayment(response,order);
          },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
          },
            "notes": {
                "address": "Razorpay Corporate Office"
          },
            "theme": {
                "color": "#3399cc"
            }
          };
          var rzp1 = new Razorpay(options);
          rzp1.open();
          rzp1.on('payment.failed', function (response){
          console.log(response);    
        });
        },
        error:function(error){
          console.log('Error Req: '+ error);
        }
      })
      }
    })
  })

  function verifyPayment(payment,order){
    console.log('Verifying')
    $.ajax({
      type: "POST",
      url:'/verifyPayment',
      data:{
        payment,order
      },
      success:function(res) {
        if(res.status == 'success'){
          location.href = '/account/orders'
        }
        
      }
    })
  }
  let checkoutBtn = document.getElementById('checkoutBtn')
  checkoutBtn.addEventListener('click',function(){
    myButton.disabled = true;
  })
</script>
<%- include('./partials/_footer') %>
