<%- include('./partials/_header',) %>
<body>
    <%- include('./partials/_navbar', {user}) %>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <% banners.forEach((banner)=>{%>
                <div class="hero__items set-bg" data-setbg="banners/<%=banner.banner%>">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6><%=banner.name%> Collection</h6>
                                    
                                        <h2>Fall - Winter Collections 2030</h2>
                                    
                                    <p><%=banner.description%></p>
                                    <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <!-- <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="users/img/banner/banner-1.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Shirts Collections 2030</h2>
                            <a href="/shop?category=shirt">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="users/img/banner/banner-2.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Polo T-Shirts</h2>
                            <a href="/shop?category=polo">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="users/img/banner/banner-3.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Shoes Spring 2030</h2>
                            <a href="/shop?category=t-shirt">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Ever Green</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".best-seller">Best Seller</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                <%products.forEach((item)=>{%>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix best-seller">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/products/<%=item.productInfo.images[0]%>">
                                <button id="whishBtn_<%=item.productInfo._id%>" onclick="addToWishList('<%=item.productInfo._id%>')" class="label">
                                    <% if(user){%>
                                        <% const isInWishlist = user.wishlist.some((wish)=> wish.product.toString() === item.productInfo._id.toString())%>
                                        <i id="heart_<%=item.productInfo._id%>" class="bi bi-suit-heart-fill <%= isInWishlist ? 'text-danger' : ''%>"></i>
                                    <%}else{%>
                                        <i id="heart_<%=item.productInfo._id%>" class="bi bi-suit-heart-fill "></i>
                                    <% } %>
                                </button>
                            </div>
                            <a href="/shop/<%=item.productInfo.slug%>">
                                <div class="product__item__text">
                                    <h6><%=item.productInfo.name%></h6>
                                    <form  class="cart_form" action="/cart?_method=PATCH" method="post">
                                        <h5>₹<%=item.productInfo.price%></h5>
                                        <input type="hidden" name="id" value="<%=item.productInfo._id%>">
                                        <button class="cart_button"><img src="/users/img/icon/cart.png" alt="" srcset=""></button>
                                    </form>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                <%})%>
                <% newArrivals.forEach((product)=>{ %>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/products/<%=product.images[0]%>">
                                <button onclick="addToWishList('<%=product._id%>')" class="label">
                                    <% if(user) {%>
                                        <% const isInWishlist = user.wishlist.some((wish)=> wish.product.toString() === product._id.toString())%>
                                        <i id="heart_<%=product._id%>" class="bi bi-suit-heart-fill <%= isInWishlist ? 'text-danger' : ''%>"></i>
                                    <%}else{%>
                                        <i id="heart_<%=product._id%>" class="bi bi-suit-heart-fill"></i>
                                    <% } %>
                                </button>
                            </div>
                            <a href="/shop/<%=product.slug%>">
                                <div class="product__item__text">
                                    <h6><%=product.name%></h6>
                                    <form  class="cart_form" action="/cart?_method=PATCH" method="post">
                                        <h5>₹<%=product.price%></h5>
                                        <input type="hidden" name="id" value="<%=product._id%>">
                                        <button class="cart_button"><img src="/users/img/icon/cart.png" alt="" srcset=""></button>
                                    </form>
                                </div>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="users/img/product-sale.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>$29.99</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="users/img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="users/img/instagram/instagram-2.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="users/img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="users/img/instagram/instagram-4.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="users/img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="users/img/instagram/instagram-6.jpg"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                        <h3>#trendverse</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    

    <!-- Footer Section Begin -->
    <span id="toastMsg" class="alert alert-primary"></span>

    <script>
        function addToWishList(id) {
            let userExits = '<%=user?.name%>' ? 1 : 0;
            if(userExits){
                $.ajax({
                    type: "PATCH",
                    url:'/wishlist',
                    data:{
                        productId:id
                    },
                    success:function(res){
                        if(res.status == 'success'){
                            console.log(res)
                            document.getElementById('toastMsg').textContent = res.message
                            document.getElementById('toastMsg').style.display = "block";
                            console.log(res)
                            if(res.operation == 'removed'){
                                document.getElementById('heart_'+id).classList.remove('text-danger');
                            }else{
                                document.getElementById('heart_'+id).classList.add('text-danger');
                            }
                            setTimeout(()=>{
                                document.getElementById('toastMsg').style.display = 'none'
                            },2000)
                        }else if(res.status == 'fail'){
                        }
                    },
                })
            }else{
                document.getElementById('toastMsg').textContent = 'Please login to add Product to wishlist '
                document.getElementById('toastMsg').style.display = "block";
                setTimeout(()=>{
                    document.getElementById('toastMsg').style.display = 'none'
                },2000)
            }
        }
    </script>
<%- include('./partials/_footerbar.ejs') %>
<%- include('./partials/_footer.ejs') %>