<%- include('./partials/_header.ejs') %>
    <!-- Header Section End -->
    <%- include('./partials/_navbar') %>

    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <form id="filter" method="get" action="/shop/" class="shop__sidebar__accordion">
                            <div class="shop__sidebar__search">
                                <div>
                                    <input type="text" name="search" value="<%=query%>" placeholder="Search...">
                                    <button type="submit"><span class="icon_search"></span></button>
                                </div>
                            </div>
                            
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Price Filter</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories mb-3">
                                                <input  type="radio"  name="sort" value="1" id=""><span class="ml-3">High to Low</span>
                                            </div>
                                            <div class="shop__sidebar__categories">
                                                <input type="radio" name="sort" value="-1" id=""><span class="ml-3">Price Low to high</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <% categories.forEach((category)=>{ %>
                                                        <li class="text-capitalize mb-3"><input  name="category" value="<%=category.name%>" type="radio" <%if(filter.category == category.name){%>checked<%}%>><span class="ml-3"><%=category.name%></span></li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Price Range</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="number" id="minPrice" class="w-100 price_range rounded border p-2" <%if(filter?.price?.$gte){%>value='<%=filter.price.$gte%>'<%}%> name="minPrice" placeholder="Min">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="number" id="maxPrice" class="w-100 price_range rounded border p-2" <%if(filter?.price?.$lte){%>value='<%=filter.price.$lte%>'<%}%> name="maxPrice" placeholder="Max" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary mt-5 w-100"type="submit">Filter</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9">
                    <% if(!products.length){%>
                        <h3 class="text-center">No Items Found</h3>
                    <%}else{%>
                        <div class="row">
                            <%products.forEach((product)=>{%>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/products/<%=product.images[0]%>">
                                            <button onclick="addToWishList('<%=product._id%>')" class="label">
                                                <% if(user) {%>
                                                    <% const isInWishlist = user.wishlist.some((wish)=> wish.product.toString() === product._id.toString())%>
                                                    <i id="heart_<%=product._id%>" class="bi bi-suit-heart-fill <%= isInWishlist ? 'text-danger' : ''%>"></i>
                                                <%}else{%>
                                                    <i id="heart_<%=product._id%>" class="bi bi-suit-heart-fill"></i>
                                                <% } %>
                                            </button>
                                        </div>
                                        <a href="/shop/<%=product.slug%>">
                                            <div class="product__item__text">
                                                <h6><%=product.name%></h6>
                                                <form  class="cart_form" action="/cart?_method=PATCH" method="post">
                                                    <h5>₹<%=product.price%></h5>
                                                    <input type="hidden" name="id" value="<%=product._id%>">
                                                    <button class="cart_button"><img src="/users/img/icon/cart.png" alt="" srcset=""></button>
                                                </form>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <%})%>
                        </div>
                    <%}%>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <% for( let i = 1 ; i <= totalPages+1 ; i++ ){%>
                                    <% if(page == i) {%>
                                        <a href="/shop?page=<%=i%>&<%if(query){%>search=<%=query%><%}%>" class="active"><%=i%></a>
                                    <% }else{%>
                                        <a href="/shop?page=<%=i%><%if(query){%>&search=<%=query%><%}%>"><%=i%></a>
                                    <% }%>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% if(successMessage[0]) {%>
        <span id="cartMsg" class="alert alert-primary"><%=successMessage[0]%></span>
    <% }else if(errorMessage[0]) {%>
        <span id="cartMsg" class="alert alert-primary"><%=errorMessage[0]%></span>
    <% }%>

    <span id="toastMsg" class="alert alert-primary"></span>

    
<script>
    window.addEventListener('beforeunload', function() {
        localStorage.setItem('scrollPosition', window.scrollY);
    });
    window.addEventListener('load', function() {
        const scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition !== null) {
            window.scrollTo(0, parseInt(scrollPosition));
            localStorage.removeItem('scrollPosition');
        }
    });
    const form = document.getElementById('filter');
    const minPriceInput = document.getElementById('minPrice');
    const maxPriceInput = document.getElementById('maxPrice');
    form.addEventListener('submit', function(event) {
        if (parseFloat(minPriceInput.value) > parseFloat(maxPriceInput.value)) {
            event.preventDefault();
            minPriceInput.value= ''
            maxPriceInput.value= ''
            alert('Minimum price should be less than or equal to maximum price.');
        }
    });





    function addToWishList(id) {
        let userExits = '<%=user?.name%>' ? 1 : 0;
        if(userExits){
            $.ajax({
                type: "PATCH",
                url:'/wishlist',
                data:{
                    productId:id
                },
                success:function(res){
                    if(res.status == 'success'){
                        console.log(res)
                        console.log(res)
                        if(res.operation == 'removed'){
                            document.getElementById('heart_'+id).classList.remove('text-danger');
                        }else{
                            document.getElementById('heart_'+id).classList.add('text-danger');
                        }
                        const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                    
                        })

                        Toast.fire({
                        icon: 'success',
                        title: res.message
                        })
                    }else if(res.status == 'fail'){
                    }
                },
            })
        }else{
            document.getElementById('toastMsg').textContent = 'Please login to add Product to wishlist '
            document.getElementById('toastMsg').style.display = "block";
            setTimeout(()=>{
                document.getElementById('toastMsg').style.display = 'none'
            },2000)
        }
    }
    if(document.getElementById('cartMsg')){
        setTimeout(()=>{
            document.getElementById('cartMsg').style.display = 'none'
        },2000)
    }


</script>

<%- include('./partials/_footer.ejs') %>
<%- include('./partials/_footerbar.ejs') %>