<%- include('./partials/_header.ejs') %>
<!-- Header Section End -->
<%- include('./partials/_navbar') %>
<!-- Shop Details Section Begin -->
<section class="shop-details ">
  <div class="product__details__pic">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="product__details__breadcrumb">
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <span>Product Details</span>
          </div>
        </div>
      </div>
      <div id="Zoom"></div>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <ul class="nav nav-tabs" role="tablist">
           
            <%product.images.forEach((image,i) => {%>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#tabs-<%=i+1%>"
                role="tab"
              >
                <div
                  class="product__thumb__pic set-bg"
                  data-setbg="/products/<%=image%>"
                ></div>
              </a>
            </li>
            <%})%>
          </ul>
        </div>
        <div class="col-lg-6 col-md-9">
          <div class="tab-content">
            <!-- Data -->
            <%product.images.forEach((image,i) => {%>
            <div class="tab-pane <% if(i==0) {%>active<%}%>" id="tabs-<%=i+1%>" role="tabpanel">
              <div class="product__details__pic__item" data="ProductImage-<%=i+1%>">
                <img src="/products/<%=image%>" id="ProductImage-<%=i+1%>" alt="" />
              </div>
            </div>
            <%})%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product__details__content ">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="product__details__text">
            <form action="/shop/<%=product._id%>?_method=PUT" method="post">
                <h4><%=product.name%></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span> - 5 Reviews</span>
                </div>
                <h3>₹ <%=product.price%> <span>₹<%=product.originalPrice%></span></h3>
                <p>
                  <%=product.description%>
                </p>

                <div class="product__details__cart__option">
                    <div class="quantity">
                        <div class="pro-qty">
                            <input type="number" min="1" value="1" name="quantity" />
                        </div>
                        <input type="hidden" name="id" value=<%=product._id%>>
                    </div>
                    <button type="submit" class="primary-btn">add to cart</button>
                </div>
                <div class="product__details__btns__option">
                    <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                </div>
                <div class="product__details__last__option mb-5">
                    <h5><span>Guaranteed Safe Checkout</span></h5>
                    <img src="/users/img/shop-details/details-payment.png" alt="" />
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop Details Section End -->

<!-- Related Section Begin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  // JavaScript for image 
$(document).ready(()=>{
  $(".product__details__pic__item").hover(function(){
    let id = $(this).attr("data");
    const productImg = document.getElementById(id);
    const magnifyContainer = document.getElementById('Zoom')
    magnifyContainer.className = 'magnify-container';
    productImg.parentElement.appendChild(magnifyContainer);
    
    const magnifyGlass = document.createElement('div');
    magnifyGlass.className = 'magnify-glass';
    magnifyContainer.appendChild(magnifyGlass);
    
    productImg.addEventListener('mousemove', function (e) {
      const imgRect = productImg.getBoundingClientRect();
        console.log(imgRect.left)
        const mouseX = e.clientX - imgRect.left - 100;
        const mouseY = e.clientY - imgRect.top - 100;
        
        const glassSize = 400; // Adjust the size of the magnification glass
        const zoomFactor = 3; // Adjust the zoom level
    
        const bgPosX = (mouseX / productImg.width) * 500;
        const bgPosY = (mouseY / productImg.height) * 500;
    
        magnifyGlass.style.width = glassSize + 'px';
        magnifyGlass.style.height = glassSize + 'px';
        magnifyGlass.style.backgroundImage = `url(${productImg.src})`;
        magnifyGlass.style.backgroundSize = `${productImg.width * zoomFactor}px ${productImg.height * zoomFactor}px`;
        magnifyGlass.style.backgroundPosition = `-${bgPosX * zoomFactor + glassSize / 2}px -${bgPosY * zoomFactor + glassSize / 2}px`;
        magnifyGlass.style.display = 'block';
        magnifyGlass.style.zIndex = '9999'
        magnifyGlass.style.position = 'absolute';
        magnifyGlass.style.top = '10%'; 
        magnifyGlass.style.left = '100%'; 
    });
    
    productImg.addEventListener('mouseleave', function () {
        magnifyGlass.style.display = 'none';
    });
  })
})

</script>
<%- include('./partials/_footer.ejs') %>

