<%- include('./partials/_header.ejs') %>
    <!-- Header Section End -->
    <%- include('./partials/_navbar') %>

    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="/shop" method="GET">
                                <input type="text" name="search" value="<%=query%>" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <% categories.forEach((category)=>{ %>
                                                        <li><a href="/shop?category=<%=category.name%>"><%=category.name%></a></li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="#">Louis Vuitton</a></li>
                                                    <li><a href="#">Chanel</a></li>
                                                    <li><a href="#">Hermes</a></li>
                                                    <li><a href="#">Gucci</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <div class="shop__sidebar__price">
                                                    <ul>
                                                        <li><a href="/shop?minPrice=0&maxPrice=500">₹0.00 - ₹500.00</a></li>
                                                        <li><a href="/shop?minPrice=500&maxPrice=1000">₹500 - ₹1000</a></li>
                                                        <li><a href="/shop?minPrice=1000&maxPrice=1500">₹1000 - ₹1500</a></li>
                                                        <li><a href="/shop?minPrice=1500&maxPrice=2000">₹1500 - ₹2000</a></li>
                                                        <li><a href="/shop?minPrice=2000&maxPrice=2500">₹2000 - ₹2500.00</a></li>
                                                        <li><a href="/shop?minPrice=2500">₹2500+</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                    
            
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <a href="/shop?sort=-1"><button class="sort_btn"><i class="bi bi-arrow-up"></i></button></a>
                                    <a href="/shop?sort=1"><button class="sort_btn"><i class="bi bi-arrow-down"></i></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <%products.forEach((product)=>{%>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                                <div class="product__item">
                                    
                                    <div class="product__item__pic set-bg" data-setbg="/products/<%=product.images[0]%>">
                                        <button onclick="addToWishList('<%=product._id%>')" class="label">
                                            <% if(user) {%>
                                                <% const isInWishlist = user.wishlist.some((wish)=> wish.product.toString() === product._id.toString())%>
                                                <i id="heart_<%=product._id%>" class="bi bi-suit-heart-fill <%= isInWishlist ? 'text-danger' : ''%>"></i>
                                            <%}else{%>
                                                <i id="heart_<%=product._id%>" class="bi bi-suit-heart-fill"></i>
                                            <% } %>
                                        </button>
                                    </div>
                                    <h2><%= user.wishlist.find((item)=>{ return item.product === product._id}) %></h2>
                                    <a href="/shop/<%=product.slug%>">
                                        <div class="product__item__text">
                                            <h6><%=product.name%></h6>
                                            <form  class="cart_form" action="/cart?_method=PATCH" method="post">
                                                <h5>₹<%=product.price%></h5>
                                                <input type="hidden" class="id" name="id" value="<%=product._id%>">
                                                <button class="cart_button"><img src="/users/img/icon/cart.png" alt="cart" srcset=""></button>
                                            </form>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        <%})%>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <% for( let i = 1 ; i <= totalPages+1 ; i++ ){%>
                                    <% if(page == i) {%>
                                        <a href="/shop?page=<%=i%>&<%if(query){%>search=<%=query%><%}%>" class="active"><%=i%></a>
                                    <% }else{%>
                                        <a href="/shop?page=<%=i%><%if(query){%>&search=<%=query%><%}%>"><%=i%></a>
                                    <% }%>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <span id="toastMsg" class="alert alert-primary"></span>

    <script>
        function addToWishList(id) {
            $.ajax({
                type: "PATCH",
                url:'/wishlist',
                data:{
                    productId:id
                },
                success:function(res){
                    console.log(res);
                    document.getElementById('toastMsg').textContent = res.message
                    document.getElementById('toastMsg').style.display = "block";
                    console.log(res)
                    if(res.operation == 'removed'){
                        document.getElementById('heart_'+id).classList.remove('text-danger');
                    }else{
                        document.getElementById('heart_'+id).classList.add('text-danger');
                    }
                    setTimeout(()=>{
                        document.getElementById('toastMsg').style.display = 'none'
                    },2000)
                }
            })
        }
    </script>

<%- include('./partials/_footer.ejs') %>