<%- include('./partials/_header.ejs') %>

<div class="d-flex row justify-content-center align-items-center w-100 h-100">
    <div class="col-md-6 text-center ">
      <div class="container login_part">
        <h3>Welcome to Trendverse</h3>
        <p>Enter your Credintials</p>

        <%if(successMessage[0]){%>
          <div class="alert alert-info" role="alert">
              <%=successMessage[0]%>
          </div>
        <%}else if(errorMessage[0]){%>
          <div class="alert alert-danger" role="alert">
              <%=errorMessage[0]%>
          </div>
        <%}%>
        
        <!-- <div class="login__btn">
          <img src="users/img/icon/GoogleLogin.png" alt="Google logo"  />Login with
          Google
        </div>

        <div class="or"><p>or</p></div> -->
      <form action="/signup" class="login__form" method="post">
          <div class="flex-column d-flex align-items-center justify-content-center"></div>
    
          <div class="login__inputs">
            <input
              name="name"
              type="text"
              class="form-control"
              placeholder="Username"
              value="<%=userData[0] ? userData[0].name:''%>"
              required
            />
  
          </div>
          <div class="login__inputs">
            <input
              name="email"
              type="email"
              class="form-control "
              placeholder="Email"
              value="<%= userData[0]?userData[0].email:''%>"
              required
            />
  
          </div>
          <div class="login__inputs">
            <input
              name="phone"
              type="text"
              class="form-control "
              minlength="10"
              placeholder="Phone Number"
              oninput="restrictToNumbers(event)"
              value="<%=userData[0] ? userData[0].phone :''%>"
              required
            />
          </div>
          <div class="login__inputs">
            <input
              name="password"
              type="password"
              class="form-control "
              minlength="6"
              placeholder="Password"
              value="<%=userData[0]?userData[0].password:''%>"
              required
            />
          </div>
          <div class="login__inputs">
            <input
              name="ConfirmPassword"
              type="password"
              minlength="6"
              class="form-control "
              placeholder="Confirm password"
              required
            />
          </div>
          
          <div class="login__inputs login_submit">
              <button class="btn w-100">Login</button>
          </div>
        
      </form>
      </div>
    </div>
  </div>

  <script>
    function restrictToNumbers(event) {
      const input = event.target;
      const currentValue = input.value;
      const newValue = currentValue.replace(/[^0-9]/g, '');
      input.value = newValue;
    }
    
    
  </script>
<%- include('./partials/_footer.ejs') %>