<%- include('./partials/_header.ejs') %>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row border rounded-5 p-3 bg-white shadow box-area">
     <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #000;">
         <div class="featured-image mb-3">
          <img src="/admin/images/logo.png" class="img-fluid" style="width: 250px;">
         </div>
         <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
         <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Designers on this platform.</small>
     </div> 

     <div class="col-md-6 right-box">
        <form action="/signup" method="post" class="row align-items-center">
              <div class="header-text mb-2">
                   <h2>Hello,</h2>
                   <p>Welcome to Trendsverse.</p>
              </div>
                  <%if(successMessage[0]){%>
                   <div class="alert alert-info w-100" role="alert">
                       <p class="text-center"><%=successMessage[0]%></p>
                   </div>
                 <%}else if(errorMessage[0]){%>
                   <div class="alert alert-danger w-100" role="alert">
                      <p class="text-center p-0 m-0"><%=errorMessage[0]%></p>
                   </div>
                 <%}%>
              <div class="input-group mb-3">
                  <input type="text" class="form-control bg-light form_data" name="name" required placeholder="Username" value="<%=userData[0] ? userData[0].name:''%>">
              </div>
              <div class="input-group mb-3">
                  <input type="email" class="form-control bg-light form_data" name="email" required placeholder="Email" value="<%= userData[0]?userData[0].email:''%>">
              </div>
              <div class="input-group mb-3">
                  <input type="phone" class="form-control bg-light form_data" name="phone" minlength="10" maxlength="10" placeholder="Phone Number" 
                  oninput="restrictToNumbers(event)" value="<%=userData[0] ? userData[0].phone :''%>" required>
              </div>
              <div class="input-group mb-3">
                  <input type="password" class="form-control bg-light form_data" name="password"  pattern="^(?=.*\d)(?=.*[A-Z]).{6,}$" title="Must be 6 characters Long , Atleast One Capital Letter , Must Contain Numbers" placeholder="Password">
              </div>
              <div class="input-group mb-1">
                <input type="password" class="form-control bg-light form_data" name="ConfirmPassword" pattern="^(?=.*\d)(?=.*[A-Z]).{6,}$" title="Must be 6 characters Long , Atleast One Capital Letter , Must Contain Numbers" placeholder="Confirm Password">
              </div>

              <div class="input-group mb-2 d-flex justify-content-between">
                  <div class="form-check">
                  </div>
                  <div class="forgot">
                      <small><a href="/forgotPassword">Forgot Password?</a></small>
                  </div>
              </div>
              <label>Choose OTP Method :</label>
              <div class="d-flex align-items-center justify-content-center w-100">
                <label class="m-2">
                  <input class="radio-input" required type="radio" name="otpMethod" value="sms" >
                  <span class="radio-tile">
                    <span class="radio-icon">
                      <i class="bi bi-chat-left-dots"  style="font-size:30px;"></i>
                    </span>
                    <span class="radio-label"><small>SMS</small></span>
                  </span>
                </label>
                <label class="m-2">
                  <input class="radio-input" required type="radio" name="otpMethod" value="email">
                  <span class="radio-tile">
                    <span class="radio-icon">
                      <i class="bi bi-envelope" style="font-size:30px"></i>
                    </span>
                    <span class="radio-label"><small>Email</small></span>
                  </span>
                </label>
              </div>
              
              <div class="input-group mb-3">
                  <button class="btn btn-primary w-100 fs-4">Signup</button>
              </div>
              <div class="w-100">
                <p class="text-center">Or</p>
              </div>
              <div class="input-group mb-3 border rounded">
                  <a href="/oauth/google" class="w-100 fs-6">
                    <button class="btn  btn-light w-100 fs-4 text-dark" type="button">
                      <img src="/users/img/icon/GoogleLogin.png" style="width:20px " class="me-2 mr-2">
                      <small class="text-dark">Signup with Google</small>
                    </button>
                  </a>
              </div>
              <div class="row">
                  <small>Already have an account? <a href="/login">Login</a></small>
              </div>
        </form>
     </div> 
    </div>
  </div>
</body>

  <script>
    function restrictToNumbers(event) {
      const input = event.target;
      const currentValue = input.value;
      const newValue = currentValue.replace(/[^0-9]/g, '');
      input.value = newValue;
    }
    
    
  </script>
<%- include('./partials/_footer.ejs') %>