<%- include('../partials/_header',) %>
<body>
    <%- include('../partials/_navbar', {user}) %>
    <section class="account__container w-100 h-100 py-5">
    <div class="container">
        <div class="col-12">
            <%if(successMessage[0]){%>
            <div id="error-message" class="alert alert-info col-8" role="alert">
                <%=successMessage[0]%>
            </div>
          <%}else if(errorMessage[0]){%>
            <div id="error-message" class="alert alert-danger col-8" role="alert">
                <%=errorMessage[0]%>
          </div>
          <% } %>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="col-12 profile_data">
                        <img src='<%=user.profile%>' class="user_profile_pic" alt="<%=user.name%>" srcset="">
                        <!-- <label for="profile_upload" class="Update_pic_btn">Update Profile</label>
                        <input type="file" accept="image/*" id="profile_upload" > -->
                        <div class="user_info text-center">
                            <h5><b><%=user.name%></b></h5>
                            <p class="user_info_data"><%=user.email%></p>
                            <p class="user_info_data"><%=user.phone%></p>
                            <%if(!user.varified){%>
                                <p class="user_info_data">Not varified <a href="#">Varify Account Now</a></p>
                            <%}else{%>
                                <p class="user_info_data">Varified <b><i class="bi bi-check-circle"></i></b></p>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row justify-content-around">
                        <button class="col-5 account__options">
                          <a href="/account/address">Address</a>
                        </button>
                        <button class="col-5 account__options">
                          <a href="/account/orders">Orders</a>
                        </button>
                    </div>
                    <div class="row justify-content-around">
                        <button class="col-5 account__options">
                          <a href="/account/updateProfile">Update Profile </a>
                        </button>
                        <button class="col-5 account__options">
                          <a href="/account/updatePassword">Change Password</a>
                        </button>
                    </div>
                    
                    <div class="row justify-content-around">
                      <button class="col-5 account__options">
                        <a href="/account/myWallet">My Wallet</a>
                      </button>
                        <form class="col-5 account__options" action="/account/logout" id="cancel_order_form" method="get">
                          <button type="button" class="logout" onclick="showConfirmationModal()">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="overlay"></div>

    <div id="confirmationModal" class="custonm_modal col-md-3 bg-white">
      <div class="col">
        <div class="close_btn_div d-flex align-center justify-content-end">
          <span onclick="hideConfirmationModal()"><i class="bi bi-x "></i></span>
        </div>
        <div class="closing_icon text-center py-2">
          <h1 class="text-primary"><i class="bi bi-box-arrow-right"></i></h1>
        </div>
        <div class="confirmation_text text-center mt-3 mb-3">
          Do you really want to logout now ? 
        </div>
        <div class="cnfrm_button d-flex align-items-center justify-content-center">
          <button class="cancel_btn" onclick="hideConfirmationModal()">Cancel</button>
          <button class="delete_btn" onclick="submitForm()">Logout</button>
        </div>
      </div>
    </div>

<script>
    function hideErrorMessage() {
        var errorMessageElement = document.getElementById('error-message');
        if (errorMessageElement) {
          setTimeout(()=>{
            errorMessageElement.style.display = 'none';
          }, 4000);
          
        }
      }
      hideErrorMessage();

      function showConfirmationModal() { 
        document.getElementById("confirmationModal").style.display = "block";
        document.getElementById("overlay").style.display = "block";
      }

      function hideConfirmationModal() {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("confirmationModal").style.display = "none";
      }

      function submitForm() {
        document.getElementById("cancel_order_form").submit();
      }


</script>
<%- include('../partials/_footer',) %>