<%- include('../partials/_header') %>
    <body>
    <%- include('../partials/_navbar',) %>
    <section style="background-color: #eee;">
      <div class="container py-5">
        <h2 class="text-center mt-4 mb-4">My Orders</h2>
      

        <% orders.forEach((order) => {%>
          <div class="row mb-2 bg-white rounded p-2">
              <div class="col-md-4 p-2">
                <p class="text-center fs-6"><small>#<%=order.orderId%></small></p>
                <h4 class="text-center">₹<%=order.totalPrice%></h4>

              </div>
              <div class="col-md-4 p-2 d-flex align-items-center">
                <ul class="product_list">
                  <%order.products.product.forEach((product) => {%>
                        <li>- <%=product.name%></li>
                    <% }) %>
                </ul>
              </div>
              <div class="col-md-3 p-2">
                <div class="row">
                  <div class="col-6">
                    <p><%=order.orderDate.toDateString() %></p>
                    <span class="<%=order.status %> mb-5"><%=order.status %></span>
                    <p>Payment :<%=order.paymentMethod %></p>
                  </div>
                  <div class="col-6 d-flex align-items-center justify-content-between">
                    <% if(order.status != 'Delivered'&& order.status != 'Cancel' && order.status!= 'Return') {%>
                      <form id="cancel_order_form" action="/account/orders?_method=PATCH" method="post">
                        <div class="d-flex flex-column ">
                          <input type="hidden" value="Cancel" name="status" />
                          <input type="hidden" value="<%=order._id%>" name="orderId"/>
                          <button class="cancel_order" onclick="showConfirmationModal()" type="button">Cancel Order</button>
                        </div>
                      </form>
                    <%}else if(order.status == 'Delivered'){%>
                      <a href="/account/orders/returnOrderForm/<%=order.orderId%>" class="return_order" >Return Order</a>
                    <%}else if(order.status == 'Return'){%>
                      <%const returnIndex = returns.findIndex(item => item.order.equals(order._id))%>
                      <%if(returnIndex != -1){%>
                        <span class="<%=returns[returnIndex].status%>"><small><%=returns[returnIndex].status%></small></span>
                      <%}%>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="col-md-1 d-flex align-items-center justify-content-center">
                <a href="/account/orders/<%=order.orderId%>"><i class="bi bi-chevron-double-right"></i></a>
              </div>
          </div>
        <% }) %>
        
      </div>
    </section>
  

    <div id="overlay"></div>

    <div id="confirmationModal" class="custonm_modal col-md-3 bg-white">
      <div class="col">
        <div class="close_btn_div d-flex align-center justify-content-end">
          <span onclick="hideConfirmationModal()"><i class="bi bi-x "></i></span>
        </div>
        <div class="closing_icon text-center py-2">
          <h1 class="text-danger"><i class="bi bi-x-octagon"></i></h1>
        </div>
        <div class="confirmation_text text-center mt-3 mb-3">
          Do you really want to Cancel this Order ? 
        </div>
        <div class="cnfrm_button d-flex align-items-center justify-content-center">
          <button class="cancel_btn" onclick="hideConfirmationModal()">Go Back</button>
          <button class="delete_btn" onclick="submitForm()">Cancel order</button>
        </div>
      </div>
    </div>



    <script>
      function hideErrorMessage() {
          var errorMessageElement = document.getElementById('error-message');
          if (errorMessageElement) {
            setTimeout(()=>{
              errorMessageElement.style.display = 'none';
            }, 4000);
          }
        }
        hideErrorMessage();
        
        function showConfirmationModal() {
          
          document.getElementById("confirmationModal").style.display = "block";
          document.getElementById("overlay").style.display = "block";
        }

        function hideConfirmationModal() {
          document.getElementById("overlay").style.display = "none";
          document.getElementById("confirmationModal").style.display = "none";
        }

        function submitForm() {
          document.getElementById("cancel_order_form").submit();
        }
  </script>
<%- include('../partials/_footer',) %>